<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fitness Club</title>
    <link rel="stylesheet" href="./static/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar h-nav">
        <div class="fit">
            <h1>Fitness Club</h1>
        </div>
        <div class="left v-class">

            <ul class="navlist">
                <!-- <div class="logo"><img src="logo.png" alt="logo"></div> -->
                <li><a href="/">Home</a></li>
                <li><a href="/class.html">Classes</a></li>
                <li><a href="/about.html">About us</a></li>
                <li><a href="/contact.html">Contact us</a></li>
            </ul>
        </div>
        <div class="right v-class">
            {% if user.is_authenticated %}
            <a class="nav" href='#' role="button" aria-expanded="false">Welcome {{request.user}}</a>
            <ul class="navbar-nav">
                <li><button class="head-bt"><a href="/logout" class="drop1"
                            style="text-decoration: none;" > Logout</a></button></li>
            </ul>
        </div>
        {% else %}
        <div class="btns">
            <button class="head-bt" data-bs-toggle="modal" data-bs-target="#LogInModal">LogIn</button>
            <button class="head-bt" data-bs-toggle="modal" data-bs-target="#SignUpModal">SignUp</button>
        </div>
        {% endif %}
        </div>
        {% comment %}
        <div class="bar">&equiv;</div> {% endcomment %}
        <div class="burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </nav>
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}
    <!-- login Modal -->
    <div class="modal fade" id="LogInModal" tabindex="-1" aria-labelledby="LogInModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="LogInModal">LogI to Fitness Club</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/login" method="POST">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Username</label>
                            <input type="text" class="form-control" id="loginusername" name="loginusername"
                                aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Password</label>
                            <input type="password" class="form-control" id="loginpassword" name="loginpassword">
                        </div>
                        <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Check me out</label>
                        </div>
                        <button type="submit" class="btn btn-primary">LogIn</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
                </div>
            </div>
        </div>
    </div>

    <!-- signup Modal -->
    <div class="modal fade" id="SignUpModal" tabindex="-1" aria-labelledby="SignUpModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="SignUpModalLabel">SignUp to Fitness CLub</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/signup" method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="exampleInputName" class="form-label">Name</label>
                            <input type="name" class="form-control" id="username" name="username"
                                aria-describedby="emailHelp">
                            <label for="exampleInputEmail1" class="form-label">Email address</label>
                            <input type="email" class="form-control" id="useremail" name="useremail"
                                aria-describedby="emailHelp">
                            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Password</label>
                            <input type="password" class="form-control" id="pass1" name="pass1">
                        </div>
                        <div class="mb-3">
                            <label for="cexampleInputPassword1" class="form-label">Confirm Password</label>
                            <input type="password" class="form-control" id="pass2" name="pass2">
                        </div>
                        <button type="submit" class="btn btn-primary">SignUp</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
                </div>
            </div>
        </div>
    </div>


    <div class="contact" id="contact">
        <h1 class="con">Contact Us</h>
            <form method="post" action="/contact.html" class="c-form">
                {% csrf_token %}
                <input type="text" name="name" id="name" placeholder="Enter Your Name" required>
                <input type="email" name="email" id="email" placeholder="Enter Your Email address" required>
                <input type="number" name="age" id="age" placeholder="Enter Your Age" required>
                <textarea placeholder="Write anything" name="desc" id="desc" cols="30" rows="7" required></textarea>
                <button class="btn-call" type="submit">Submit</button>
            </form>
    </div>

    <footer class="footer" style="position:fixed;">
        Copyright &copy; 2021-22 - Siddharth Prajapati
    </footer>
    <script src="./static/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

</body>

</html>